* {
    margin: 0;
}

.pfad__header {
    display: flex;
}

.pfad__header {
    width: 100%;
    height: 305px;
    background: url(../img/bannerverede_rexmunch.png);
    background-size: cover;
    background-attachment: fixed;
}

.pfad__admin {
    display: flex;
    justify-content: space-around;
    font-family: 'Bebas Neue';
    font-size: 6.5rem;
    text-decoration-line: underline;
    text-decoration-color: #F04D2F;
    width: 1440px;
    margin-left: 30%;
}

.pfad_logo {
    width: 230px;
    height: 120px;
}

.pfaf_tittle {
    margin-left: 70px;
    margin-top: 200px;
}

.form {
    display: flex;
    font-family: 'Roboto';
    font-weight: 700px;
}

.editor {
    display: flex;
    align-items: flex-end;
    flex-basis: 20%;
}

.editor_btn {
    color: #F2AD3D;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    display: flex;
}

.editor_btn:hover {
    color: #D29025;
}

.form {
    display: flex;
    margin: 0 0 3rem 0;
}

.f__form {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    align-items: flex-end;
    font-size: 2rem;
    margin: 0 4rem 0 25rem;
    text-align: right;
    height: auto;
    padding-bottom: 30px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
}

.form_container .datos {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
}

.f__form input {
    width: 440px;
    height: 72px;
    left: 870px;
    top: 499px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 18px;
    margin: 1rem;
    padding-bottom: 3rem;
}

.f__form select {
    width: 260px;
    height: 70px;
    background: #5F1348;
    border-radius: 18px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 19px;
    display: flex;
    text-align: center;
    color: white;
    padding: 15px;
    margin: 15px;
}

.footer {
    display: flex;
    width: 100%;
    height: 236px;
    left: 0px;
    top: 1334px;
    background: #5F1348;
}

.apps {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    margin: 1rem;
}

.btn_footer {
    display: flex;
    align-items: center;
    border-color: white;
    border: 1px solid;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    width: 215px;
    height: 82px;
    box-sizing: border-box;
    margin: 20px;
    padding: 30px;
}

.apple {
    font-size: 3rem;
}

.txt {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    font-size: 0.7rem;
    padding: 0 0 0 20px;
}

.app {
    padding: 5px;
    font-size: 1rem;
    font-weight: 700;
}

.footer_img {
    width: 2.5rem;
}

.footer__text {
    display: flex;
    flex-basis: 50%;
    margin-top: 3rem;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    justify-content: space-between;
    padding-right: 10rem;
}

.footer__text a {
    text-decoration: none;
    color: white;
}

.footer__text p {
    padding-bottom: 20px;
}

.red_social {
    font-weight: 100;
    padding-right: 20px;
}