        .contenedor {
            width: 90%;
            max-width: 1000px;
            margin: 20px auto;
        }
        
        .contenedor .btn-abrir-popup {
            transition: .3s ease all;
            background-color: #5f1347;
            border-color: #5f1347;
            border-radius: 22px;
            border: none;
            margin-left: 130px;
            padding-top: 8px;
            padding-bottom: 8px;
            color: #ffffff;
            width: 350px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 900px;
            font-size: 64px;
            line-height: 80px;
        }
        
        .overlay {
            background: rgba(240, 76, 48, 0.2);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: hidden;
        }
        
        .overlay.active {
            visibility: visible;
        }
        
        .popup {
            background: #ffffff;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0, .3);
            border-radius: 3px;
            padding: 20px;
            text-align: center;
            width: 600px;
            transition: .3s ease all;
            transform: scale(0.7);
            opacity: 0;
            visibility: visible;
        }
        
        .popup .btn-cerrar-popup {
            font-size: 26px;
            line-height: 16px;
            display: block;
            text-align: right;
            color: #c4c4c4;
            transition: .3s ease all;
        }
        
        .popup .btn-cerrar-popup:hover {
            color: #000;
        }
        
        .popup h3 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            margin-bottom: 10px;
            margin-top: 50px;
            /*opacity: 0;*/
        }
        
        .popup h5 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            margin-bottom: 40px;
            /*opacity: 0;*/
        }
        
        .btn-due {
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #ffffff;
            background-color: #f04d2f;
            border-color: none;
            padding: 2rem;
            font-family: 'roboto';
            font-size: 30px;
            font-weight: bold;
            border-radius: 20px;
            height: 250px;
            width: 250px;
            margin-left: 55%;
            margin-bottom: 20px;
        }
        
        .tenedor {
            font-size: 5rem;
            text-align: center;
            margin-bottom: 40px;
        }
        
        .popup .inicio_sesiond {
            font-family: 'roboto';
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            color: #858181;
        }
        
        .popup .enlace {
            font-family: 'roboto';
            font-size: 16px;
            font-weight: 400;
            color: #F04D2F;
        }
        
        .popup .ult_p {
            font-family: 'roboto';
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        
        .popup .enlace2 {
            font-family: 'roboto';
            font-size: 12px;
            font-weight: 400;
            color: #F04D2F;
        }
        
        .popup.active {
            opacity: 1;
            transform: scale(1);
        }
        
        .popup.active h3 {
            animation: entradaTitulo .8s ease .5s;
        }